<p id="notice"><%= notice %></p>

<h1>
  <%= @car.make %>
  <%= @car.model %>
  <%= @car.year %>
</h1>

<br>

<h2>Comments</h2>
<%= render @car.comments %>

<br>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %> |
<%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure?' } %>
